<div class="page" data-name="testvideo">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="title">mHBS Videos</div>
    </div>
  </div>
  <div class="page-content">
    <div >
      <div class="chip" onclick="applyFilter(1)">
        <img id="icon_all_media" src="img/synced.png" width="30px" height="30px">
        All Media Files
      </div>

      <div class="chip" onclick="applyFilter(2)">
        <img id="icon_pdf" src="img/synced.png" width="30px" height="30px">
        PDFs
      </div>

      <div class="chip" onclick="applyFilter(3)">
        <img id="icon_videos" src="img/synced.png" width="30px" height="30px">
        Videos
      </div>

      <div class="chip" onclick="applyFilter(4)">
        <img id="icon_other" src="img/synced.png" width="30px" height="30px">
        Others
      </div>
    </div>
    <div class="list media-list inset">
      <ul id="videoListMedia">
        <!-- Videos will be loaded here through server -->
      <ul> 
    </div>
  </div>
</div>
